#logo {
    max-width: 100%;
    height: auto;
    width: 230px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 20px;
    right: 80%;
    border: 0px;
}
header{
    background-color: rgba(255, 217, 0, 0.518);
    height: 52px;
    align-items: center;
    display: flex; /* add this line to create a flex container */
    justify-content: center;
    padding: 10px;
}
header a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif; 
    position: relative;
    bottom: 20px;
    left: 200px;
    margin: 7px;
    font-size: larger;
}

footer {
    background-color: rgba(255, 217, 0, 0.518);
    padding: 10px;
}
footer a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    position: relative;
}
.zone {
    border: solid black;
}
.div {
    position: relative;
    font: 10px sans-serif;
    font-weight: lighter;
    border: 1px solid rgba(0, 0, 0, 0.667);
    margin: 1px;
    padding: 1px;
    width: 320px;
    height: 150px;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.043);
}
body{
    background-color: rgba(0, 0, 0, 0.863);
    font-family: sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
}
div img {
    border: 1px solid rgba(0, 0, 0, 0.653);
    border-radius: 3%;
}
.privacy {
    border: 1px solid rgba(0, 0, 0, 0.667);
    background-color: rgba(255, 255, 255, 0.043);
    font-family: sans-serif;
}
#title {
   position: relative;
   left: 150px;
   bottom: 13px;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: 150px;
   font-size: large;
   color: #fff;
}
.img1 {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 5px;
}
.chapter {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    left: 110px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
.chap {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.descrip {
    width: 450px;
    height: 300px;
    position: relative;
    left: 180px;
    bottom: 250px;
    font-size: large;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
    margin: 1px;
    padding: 1px;
    border-radius: 3%;
}
.comic {
    width: 650px;
    height: 350px;
    margin: 20px 0px;
    position: relative;
    font: 10px sans-serif;
    font-weight: lighter;
    border: 1px solid rgba(0, 0, 0, 0.667);;
    margin: 1px;
    padding: 1px;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.043);
}
.img1c {
    width: 160px;
    margin: 15px 10px;
    position: relative;
}
th {
    text-align: center;
    padding: 0px 80px;
}
td {
    text-align: center;
    padding: 20px 0px;
}
.titlei {
    position: absolute;
    top: 220px;
    left: 17px;
}
.allch {
    position: relative;
    bottom: 0px;
    width: 340px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.667);;
    margin: 10px;
    padding: 1px;
    font-weight: lighter;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.043);
}
.nch {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.pch {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-right: 50%;
    margin-left: 10%;
}
#t {
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 150px;
    font-size: large;
    color: #fff;
}
.copyright {
    width: 700px;
    height: 600px;
    font-weight: lighter;
    font-size: large;
    text-align: center;
}
.cat {
    width: 400px;
    position: relative;
    left: 20%;
}
@media (max-width: 700px) {
    .header {
      align-items: center;
    }
    .pch {
      margin-right: 40px; /* adjust margin right */
    }
    .comic {
        width: 500px;
        height: 300px;
    }
    .descrip {
        width: 350px;
        height: 400px;
        font-size: small;
        position: relative;
        left: 130px;
        bottom: 170px;
    }
    .descrip1 {
        width: 350px;
        height: 400px;
        font-size: small;
        position: relative;
        left: 130px;
        bottom: 170px;
    }
    .img2c {
        width: 100px;
    }
    .img1c {
        width: 100px;
        position: relative;
        bottom: 10px;
        right: 5px;
    }
    .titlei {
        font-size: small;
        position: absolute;
        top: 134px;
        left: 10px;
    }
    td {
        position: relative;
        right: 80px;
    }
    th {
        position: relative;
        right: 80px;
    }
}
@media (max-width:400px){
    .pch {
        margin-right: 20px; /* adjust margin right */
      }
    .comic {
        width: 350px;
        height: 200px;
    }
    .descrip {
        width: 240px;
        height: 400px;
        font-size: smaller;
        position: relative;
        left: 102px;
        bottom: 140px;
    }
    .descrip1 {
        width: 240px;
        font-size: 100%;
    }
    .img2c {
        width: 100px;
    }
    .img1c {
        width: 80px;
        position: relative;
        bottom: 10px;
        right: 5px;
    }
    .titlei {
        font-size: 110%;
        position: absolute;
        top: 110px;
        left: 8px;
    }
    td {
        position: relative;
        right: 80px;
    }
    th {
        position: relative;
        right: 80px;
    }
    #logo {
        width: 200px;
        position: relative;
        right: 200px;
        top: 20px;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; /* This makes the main content area take up available space */
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 230px;
}
.title2 {
    font-size: 110%;
    position: absolute;
    top: 198px;
    left: 4px;
}
.descrip1 {
    width: 350px;
    height: 300px;
    position: relative;
    left: 140px;
    bottom: 215px;
    font-size: 120%;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
    margin: 1px;
    padding: 1px;
    border-radius: 3%;
}
.img2c {
    width: 120px;
    margin: 15px 7px;
}
.img2 {
    width: 90px;
    position: absolute;
    bottom: 8px;
    left: 5px;
}
#title1 {
    position: relative;
    left: 110px;
    bottom: 13px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 150px;
    font-size: large;
    color: #fff;
}
#chapter1 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 20px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter2 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 20px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter3 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 20px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter4 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 44px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter5 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 44px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter6 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 44px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter7 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 68px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter8 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 68px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter9 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: large;
    position: relative;
    top: 68px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter10 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 91px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter11 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 91px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter12 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 91px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter13 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 115px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter14 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 115px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter15 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 115px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter16 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 139px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter17 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 139px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}
#chapter18 {
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 100%;
    position: relative;
    top: 139px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 3px;
}


